name: Tests

on:
  push:
    branches:
      - "dev"
  pull_request:
    branches:
      - "main"
      - "dev"

jobs:
    test:
      name: Run tests
      runs-on: ubuntu-latest

      steps:
        - name: Checkout
          uses: actions/checkout@v6

        - name: Install Rust toolchain
          uses: dtolnay/rust-toolchain@stable

        - name: Cache Rust dependencies and build artifacts
          uses: Swatinem/rust-cache@v2
          with:
            cache-on-failure: true

        - name: Run tests
          run: cargo test --all-targets --locked
