name: Tests

on:
  push:
    branches:
      - "dev"
  pull_request:
    branches:
      - "main"
      - "dev"

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:18.1
        env:
          POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      rustfs:
        image: rustfs/rustfs
        env:
          RUSTFS_ACCESS_KEY: ${{ secrets.RUSTFS_ACCESS_KEY }}
          RUSTFS_SECRET_KEY: ${{ secrets.RUSTFS_SECRET_KEY }}
          RUSTFS_VOLUMES: /data/rustfs{0..3}
          RUSTFS_ADDRESS: 0.0.0.0:9000
          RUSTFS_CONSOLE_ENABLE: false
        ports:
          - 9000:9000
        options: >-
          --health-cmd "sh -c 'curl -f http://127.0.0.1:9000/health'"
          --health-interval 30s
          --health-timeout 10s
          --health-retries 3
          --health-start-period 40s

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Cache Rust dependencies and build artifacts
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true

      - name: Set environment variables
        run: |
          {
            echo "TEST_DATABASE_URL=postgres://${{ secrets.POSTGRES_USER }}:${{ secrets.POSTGRES_PASSWORD }}@localhost:5432/${{ secrets.POSTGRES_DB }}"
            echo "DATABASE_URL=postgres://${{ secrets.POSTGRES_USER }}:${{ secrets.POSTGRES_PASSWORD }}@localhost:5432/${{ secrets.POSTGRES_DB }}"
            echo "TEST_APP_ADDRESS=${{ secrets.TEST_APP_ADDRESS }}"
            echo "TEST_COOKIE_NAME=${{ secrets.TEST_COOKIE_NAME }}"
            echo "TEST_SMTP_HOST=${{ secrets.TEST_SMTP_HOST }}"
            echo "TEST_SMTP_PORT=${{ secrets.TEST_SMTP_PORT }}"
            echo "TEST_SMTP_USERNAME=${{ secrets.TEST_SMTP_USERNAME }}"
            echo "TEST_SMTP_PASSWORD=${{ secrets.TEST_SMTP_PASSWORD }}"
            echo "TEST_SMTP_FROM=${{ secrets.TEST_SMTP_FROM }}"
            echo "TEST_S3_ACCESS_KEY=${{ secrets.RUSTFS_ACCESS_KEY }}"
            echo "TEST_S3_SECRET_KEY=${{ secrets.RUSTFS_SECRET_KEY }}"
            echo "TEST_S3_ENDPOINT=http://localhost:9000"
            echo "TEST_S3_REGION=${{ secrets.TEST_S3_REGION }}"
          } >> $GITHUB_ENV

      - name: Install sqlx-cli
        run: cargo install sqlx-cli --no-default-features --features native-tls,postgres

      - name: Run database migrations
        run: |
          sqlx database create
          sqlx migrate run

      - name: Run tests
        run: cargo test --all-targets --locked
